.gfield select,
.gfield textarea,
.gfield input[type="text"],
.gfield input[type="tel"],
.gfield input[type="email"],
.gfield input[type="number"] {
	display: block;
	width: 100%;
	padding: $input-padding-y $input-padding-x;
	font-family: $input-font-family;

	@include font-size($input-font-size);
	font-weight: $input-font-weight;
	line-height: $input-line-height;
	color: $input-color;
	appearance: none; // Fix appearance for date inputs in Safari
	background-color: $input-bg;
	background-clip: padding-box;
	border: $input-border-width solid $input-border-color;

	@include border-radius($input-border-radius, 0);
	@include box-shadow($input-box-shadow);
	@include transition($input-transition);

	&[type="file"] {
		overflow: hidden; // prevent pseudo element button overlap

		&:not(:disabled):not([readonly]) {
			cursor: pointer;
		}
	}

	// Customize the `:focus` state to imitate native WebKit styles.
	&:focus {
		color: $input-focus-color;
		background-color: $input-focus-bg;
		border-color: $input-focus-border-color;
		outline: 0;

		@if $enable-shadows {

			@include box-shadow($input-box-shadow, $input-focus-box-shadow);
		} @else {
			// Avoid using mixin so we can pass custom focus shadow properly
			box-shadow: $input-focus-box-shadow;
		}
	}

	&::-webkit-date-and-time-value {
		min-width: 85px; // Seems to be a good minimum safe width
		height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
		margin: 0;
	}

	// Prevent excessive date input height in Webkit
	// https://github.com/twbs/bootstrap/issues/34433
	&::-webkit-datetime-edit {
		display: block;
		padding: 0;
	}

	// Placeholder
	&::placeholder {
		color: $input-placeholder-color;
		opacity: 1;
	}

	// Disabled inputs
	&:disabled {
		color: $input-disabled-color;
		background-color: $input-disabled-bg;
		border-color: $input-disabled-border-color;
		opacity: 1;
	}

	// File input buttons theming
	&::file-selector-button {
		padding: $input-padding-y $input-padding-x;
		margin: (-$input-padding-y) (-$input-padding-x);
		margin-inline-end: $input-padding-x;
		color: $form-file-button-color;

		@include gradient-bg($form-file-button-bg);
		pointer-events: none;
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		border-inline-end-width: $input-border-width;
		border-radius: 0; // stylelint-disable-line property-disallowed-list

		@include transition($btn-transition);
	}

	&:hover:not(:disabled):not([readonly])::file-selector-button {
		background-color: $form-file-button-hover-bg;
	}
}

.gfield select {
	--#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator)};

	display: block;
	width: 100%;
	padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
	font-family: $form-select-font-family;

	@include font-size($form-select-font-size);
	font-weight: $form-select-font-weight;
	line-height: $form-select-line-height;
	color: $form-select-color;
	appearance: none;
	background-color: $form-select-bg;
	background-image: var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none);
	background-repeat: no-repeat;
	background-position: $form-select-bg-position;
	background-size: $form-select-bg-size;
	border: $form-select-border-width solid $form-select-border-color;

	@include border-radius($form-select-border-radius, 0);
	@include box-shadow($form-select-box-shadow);
	@include transition($form-select-transition);

	&:focus {
		border-color: $form-select-focus-border-color;
		outline: 0;

		@if $enable-shadows {

			@include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
		} @else {
			// Avoid using mixin so we can pass custom focus shadow properly
			box-shadow: $form-select-focus-box-shadow;
		}
	}

	&[multiple],
	&[size]:not([size="1"]) {
		padding-right: $form-select-padding-x;
		background-image: none;
	}

	&:disabled {
		color: $form-select-disabled-color;
		background-color: $form-select-disabled-bg;
		border-color: $form-select-disabled-border-color;
	}

	// Remove outline from select box in FF
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $form-select-color;
	}
}

.gfield input.ginput_total {
	padding: 0 !important;
}

.gfield .ginput_card_security_code {
	display: inline-block !important;
}

.ginput_total {
	font-size: 1.5rem !important;
	color: #dc3545 !important;
}

.gform_button {
	// scss-docs-start btn-css-vars
	--#{$prefix}btn-padding-x: #{$btn-padding-x};
	--#{$prefix}btn-padding-y: #{$btn-padding-y};
	--#{$prefix}btn-font-family: #{$btn-font-family};

	@include rfs($btn-font-size, --#{$prefix}btn-font-size);
	--#{$prefix}btn-font-weight: #{$btn-font-weight};
	--#{$prefix}btn-line-height: #{$btn-line-height};
	--#{$prefix}btn-color: #{$btn-color};
	--#{$prefix}btn-bg: transparent;
	--#{$prefix}btn-border-width: #{$btn-border-width};
	--#{$prefix}btn-border-color: transparent;
	--#{$prefix}btn-border-radius: #{$btn-border-radius};
	--#{$prefix}btn-hover-border-color: transparent;
	--#{$prefix}btn-box-shadow: #{$btn-box-shadow};
	--#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};
	--#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), 0.5);
	// scss-docs-end btn-css-vars

	display: inline-block;
	padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
	font-family: var(--#{$prefix}btn-font-family);

	@include font-size(var(--#{$prefix}btn-font-size));
	font-weight: var(--#{$prefix}btn-font-weight);
	line-height: var(--#{$prefix}btn-line-height);
	color: var(--#{$prefix}btn-color);
	text-align: center;
	text-decoration: if($link-decoration == none, null, none);
	white-space: $btn-white-space;
	vertical-align: middle;
	cursor: if($enable-button-pointers, pointer, null);
	user-select: none;
	border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);

	@include border-radius(var(--#{$prefix}btn-border-radius));
	@include gradient-bg(var(--#{$prefix}btn-bg));
	@include box-shadow(var(--#{$prefix}btn-box-shadow));
	@include transition($btn-transition);

	&:hover {
		color: var(--#{$prefix}btn-hover-color);
		text-decoration: if($link-hover-decoration == underline, none, null);
		background-color: var(--#{$prefix}btn-hover-bg);
		border-color: var(--#{$prefix}btn-hover-border-color);
	}

	&:focus-visible {
		color: var(--#{$prefix}btn-hover-color);

		@include gradient-bg(var(--#{$prefix}btn-hover-bg));
		border-color: var(--#{$prefix}btn-hover-border-color);
		outline: 0;
		// Avoid using mixin so we can pass custom focus shadow properly
		@if $enable-shadows {
			box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
		} @else {
			box-shadow: var(--#{$prefix}btn-focus-box-shadow);
		}
	}

	.btn-check:checked + &,
	:not(.btn-check) + &:active,
	&:first-child:active,
	&.active,
	&.show {
		color: var(--#{$prefix}btn-active-color);
		background-color: var(--#{$prefix}btn-active-bg);
		// Remove CSS gradients if they're enabled
		background-image: if($enable-gradients, none, null);
		border-color: var(--#{$prefix}btn-active-border-color);

		@include box-shadow(var(--#{$prefix}btn-active-shadow));

		&:focus-visible {
			// Avoid using mixin so we can pass custom focus shadow properly
			@if $enable-shadows {
				box-shadow: var(--#{$prefix}btn-active-shadow), var(--#{$prefix}btn-focus-box-shadow);
			} @else {
				box-shadow: var(--#{$prefix}btn-focus-box-shadow);
			}
		}
	}

	&:disabled,
	&.disabled,
	fieldset:disabled & {
		color: var(--#{$prefix}btn-disabled-color);
		pointer-events: none;
		background-color: var(--#{$prefix}btn-disabled-bg);
		background-image: if($enable-gradients, none, null);
		border-color: var(--#{$prefix}btn-disabled-border-color);
		opacity: var(--#{$prefix}btn-disabled-opacity);

		@include box-shadow(none);
	}

	@include button-variant($primary, $primary);
}

.gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container),
.gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container) {
	margin-top: 0;
}

.gform_wrapper .field_description_below .gfield_description {
	padding-top: 5px;
	color: $gray-600;
	font-style: italic;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
	display: none;
	visibility: hidden;
}

.gform_wrapper li.gfield.gfield_error:not(.gfield_contains_required.gfield_creditcard_warning) {
	background-color: transparent;
	margin-bottom: 0;
	border-top: none;
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 0;
}

.gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper li.gfield_error textarea {
	border-color: #f00;
}

.gform_wrapper .hidden_label label.gfield_label {
	display: none;
	visibility: hidden;
	margin: 0;
}

.gform_wrapper ul li.gfield {
	margin-top: 12px;
}

.gform_wrapper div.validation_error {
	border-width: 1px;
	background-color: rgba(255, 223, 224, 0.25);
}

@media (max-width: 640px) {

	.gform_wrapper.gravity-theme fieldset.ginput_cardinfo_left {
		flex: 0 0 100% !important;
	}
}
