.gfield input.ginput_total {
	padding: 0 !important;
}

.gfield .ginput_card_security_code {
	display: inline-block !important;
}

.ginput_total {
	font-size: 1.5rem !important;
	color: #dc3545 !important;
}

.gform_button {
	// scss-docs-start btn-css-vars
	--#{$prefix}btn-padding-x: #{$btn-padding-x};
	--#{$prefix}btn-padding-y: #{$btn-padding-y};
	--#{$prefix}btn-font-family: #{$btn-font-family};

	@include rfs($btn-font-size, --#{$prefix}btn-font-size);
	--#{$prefix}btn-font-weight: #{$btn-font-weight};
	--#{$prefix}btn-line-height: #{$btn-line-height};
	--#{$prefix}btn-color: #{$btn-color};
	--#{$prefix}btn-bg: transparent;
	--#{$prefix}btn-border-width: #{$btn-border-width};
	--#{$prefix}btn-border-color: transparent;
	--#{$prefix}btn-border-radius: #{$btn-border-radius};
	--#{$prefix}btn-hover-border-color: transparent;
	--#{$prefix}btn-box-shadow: #{$btn-box-shadow};
	--#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};
	--#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), 0.5);
	// scss-docs-end btn-css-vars

	display: inline-block;
	padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
	font-family: var(--#{$prefix}btn-font-family);

	@include font-size(var(--#{$prefix}btn-font-size));
	font-weight: var(--#{$prefix}btn-font-weight);
	line-height: var(--#{$prefix}btn-line-height);
	color: var(--#{$prefix}btn-color);
	text-align: center;
	text-decoration: if($link-decoration == none, null, none);
	white-space: $btn-white-space;
	vertical-align: middle;
	cursor: if($enable-button-pointers, pointer, null);
	user-select: none;
	border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);

	@include border-radius(var(--#{$prefix}btn-border-radius));
	@include gradient-bg(var(--#{$prefix}btn-bg));
	@include box-shadow(var(--#{$prefix}btn-box-shadow));
	@include transition($btn-transition);

	&:hover {
		color: var(--#{$prefix}btn-hover-color);
		text-decoration: if($link-hover-decoration == underline, none, null);
		background-color: var(--#{$prefix}btn-hover-bg);
		border-color: var(--#{$prefix}btn-hover-border-color);
	}

	&:focus-visible {
		color: var(--#{$prefix}btn-hover-color);

		@include gradient-bg(var(--#{$prefix}btn-hover-bg));
		border-color: var(--#{$prefix}btn-hover-border-color);
		outline: 0;
		// Avoid using mixin so we can pass custom focus shadow properly
		@if $enable-shadows {
			box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
		} @else {
			box-shadow: var(--#{$prefix}btn-focus-box-shadow);
		}
	}

	.btn-check:checked + &,
	:not(.btn-check) + &:active,
	&:first-child:active,
	&.active,
	&.show {
		color: var(--#{$prefix}btn-active-color);
		background-color: var(--#{$prefix}btn-active-bg);
		// Remove CSS gradients if they're enabled
		background-image: if($enable-gradients, none, null);
		border-color: var(--#{$prefix}btn-active-border-color);

		@include box-shadow(var(--#{$prefix}btn-active-shadow));

		&:focus-visible {
			// Avoid using mixin so we can pass custom focus shadow properly
			@if $enable-shadows {
				box-shadow: var(--#{$prefix}btn-active-shadow), var(--#{$prefix}btn-focus-box-shadow);
			} @else {
				box-shadow: var(--#{$prefix}btn-focus-box-shadow);
			}
		}
	}

	&:disabled,
	&.disabled,
	fieldset:disabled & {
		color: var(--#{$prefix}btn-disabled-color);
		pointer-events: none;
		background-color: var(--#{$prefix}btn-disabled-bg);
		background-image: if($enable-gradients, none, null);
		border-color: var(--#{$prefix}btn-disabled-border-color);
		opacity: var(--#{$prefix}btn-disabled-opacity);

		@include box-shadow(none);
	}

	@include button-variant($primary, $primary);
}

.gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container),
.gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container) {
	margin-top: 0;
}

.gform_wrapper .field_description_below .gfield_description {
	padding-top: 5px;
	color: $gray-600;
	font-style: italic;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
	display: none;
	visibility: hidden;
}

.gform_wrapper li.gfield.gfield_error:not(.gfield_contains_required.gfield_creditcard_warning) {
	background-color: transparent;
	margin-bottom: 0;
	border-top: none;
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 0;
}

.gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper li.gfield_error textarea {
	border-color: #f00;
}

.gform_wrapper .hidden_label label.gfield_label {
	display: none;
	visibility: hidden;
	margin: 0;
}

.gform_wrapper ul li.gfield {
	margin-top: 12px;
}

.gform_wrapper div.validation_error {
	border-width: 1px;
	background-color: rgba(255, 223, 224, 0.25);
}

@media (max-width: 640px) {

	.gform_wrapper.gravity-theme fieldset.ginput_cardinfo_left {
		flex: 0 0 100% !important;
	}
}
