.nav-button {
	display: none;
	width: 30px;
	height: 30px;
	background-color: var(--#{$prefix}white) !important;
	color: var(--#{$prefix}primary) !important;
	border: none;
	border-radius: var(--#{$prefix}border-radius-sm);
	outline: none !important;
	opacity: 1;
	transition: opacity 1s;
	clear: both;

	.icon-bar {
		display: block;
		float: left;
		width: 100%;
		height: 2px;
		background-color: var(--#{$prefix}primary);
		transform: rotate(0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		+ .icon-bar {
			margin-top: 0.25rem;
		}
	}

	@include media-breakpoint-down(lg) {
		display: inline-block;

		&.collapsed .icon-bar:nth-child(1) {
			transform: rotate(45deg);
			margin-top: 8px;
		}

		&.collapsed .icon-bar:nth-child(2) {
			opacity: 0;
		}

		&.collapsed .icon-bar:nth-child(3) {
			transform: rotate(135deg);
			margin-top: -8px;
		}
	}
}

#nav {
	display: block;
	position: relative;

	@include media-breakpoint-down(lg) {
		width: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
	}

	@include media-breakpoint-down(lg) {

		.navigation {
			display: none;
			width: 100%;
			margin: 1rem auto 0;
			overflow: hidden;

			ul.menu {
				display: inline-block;
				width: 100%;
				margin-bottom: 1rem;
				padding: 0;
				background-color: var(--#{$prefix}white);
				border-radius: var(--#{$prefix}border-radius-sm);

				li {
					display: block;
					line-height: normal;
					text-align: left;
					margin-bottom: 0;

					a {
						padding: 0.75rem 1rem;
						display: block;
						color: var(--#{$prefix}body-color);
						text-decoration: none !important;
						background-color: var(--#{$prefix}white);
						border-radius: var(--#{$prefix}border-radius-sm);
						position: relative;

						&:hover,
						&:active {
							transition: all 0.2s ease;
							color: var(--#{$prefix}primary);
							background-color: var(--#{$prefix}gray-200);
						}
					}

					&.menu-item-has-children {

						> a {

							&::after {
								content: " ";
								position: absolute;
								right: 7px;
								top: 7px;
								width: 36px;
								height: 36px;
								background-image: url(../images/menu-arrow-down.svg);
								background-repeat: no-repeat;
								background-position: center;
								transform: translateY(0) rotate(0deg);
								transition: transform 0.3s ease;
								z-index: 999;
							}
						}

						&.active > a::after {
							transform: translateY(0) rotate(90deg);
						}
					}

					&.current-menu-parent,
					&.current-menu-item,
					&:hover,
					&:active,
					&:focus {

						> a {
							color: var(--#{$prefix}primary);
							background-color: var(--#{$prefix}gray-200);
						}

						&.menu-item-has-children > a::after {
							background-image: url(../images/menu-arrow-down.svg);
						}
					}
				}

				> li {
					display: block;
					text-align: left;
					margin-bottom: 0;
					padding: 0.25rem;
					border-top: 1px solid var(--#{$prefix}gray-200);

					&:first-child {
						border-top: none;
					}

					ul {
						width: 100%;
						margin-bottom: 0;
						padding: 0;
						margin-top: 1px;
						max-height: 0;
						overflow: hidden;
						transition: all 0.3s ease;

						&.active {
							transition: all 0.3s ease;
							max-height: 1000px;
						}

						li ul {
							padding-left: 1rem;
						}
					}
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		top: 145px;
		-webkit-transform: translateY(-145px);
		-ms-transform: translateY(-145px);
		transform: translateY(-145px);
		z-index: 999;

		.navigation {
			display: flex !important;

			ul.menu {
				list-style-type: none;
				padding: 0;
				margin: 0;

				> li {
					text-align: center;
					display: inline-block;
					position: relative;
					margin-bottom: 0;

					> a {
						line-height: 50px;
						padding: 0 0.5rem;
						cursor: pointer;
						color: var(--#{$prefix}body-color);
						display: block;
						position: relative;
						text-transform: uppercase;

						@include media-breakpoint-up(xl) {
							padding: 0 1rem;
						}

						@include media-breakpoint-up(xxl) {
							padding: 0 1.25rem;
						}
					}

					&.menu-item-has-children {

						> a {
							padding-right: 1.5rem;

							@include media-breakpoint-up(xxl) {
								padding-right: 1.75rem;
							}

							&::after {
								content: " ";
								position: absolute;
								right: 2px;
								top: 14px;
								width: 24px;
								height: 24px;
								background-image: url(../images/menu-arrow-down-primary.svg);
								background-image: url(../images/menu-arrow-down.svg);
								background-repeat: no-repeat;
								background-position: center;

								@include media-breakpoint-up(xxl) {
									right: 4px;
								}
							}
						}
					}

					&.current-menu-parent,
					&.current-menu-item,
					&:hover,
					&:active,
					&:focus {

						> a {
							color: var(--#{$prefix}primary);
						}

						&.menu-item-has-children > a::after {
							background-image: url(../images/menu-arrow-down-primary.svg);
						}
					}

					ul {
						position: absolute;
						width: 220px;
						left: -999em;
						z-index: 10;
						margin-left: 0;
						margin-top: 0;
						padding-left: 0;
						box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
						background-color: var(--#{$prefix}primary);
						border-radius: 5px;
						padding-top: 5px;
						padding-bottom: 5px;

						&::before {
							content: " ";
							position: absolute;
							left: 25px;
							top: -7px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent var(--#{$prefix}primary) transparent;
							z-index: 9999;
						}

						li {
							margin-bottom: 0;

							a {
								display: block;
								cursor: pointer;
								color: var(--#{$prefix}white);
								text-decoration: none;
								overflow: hidden;
								padding: 8px 5px;
								position: relative;
								margin-left: 10px;
								margin-right: 10px;
								text-align: left;
								border-top: 1px solid darken($primary, 5%);
								font-size: 15px;

								&:hover {
									color: var(--#{$prefix}secondary);
								}
							}

							&.current-menu-item > a {
								color: var(--#{$prefix}secondary);
							}

							&:first-child > a {
								border-top: none;
							}

							ul {
								margin: -42px 0 0 226px;

								&::before {
									left: -7px;
									top: 10px;
									border-top: 10px solid transparent;
									border-right: 10px solid var(--#{$prefix}primary);
									border-left: none;
									border-bottom: 10px solid transparent;
								}
							}
						}
					}

					&:hover,
					&.sfhover {

						ul {
							left: auto;

							li {

								ul {
									left: -999em;
								}

								&:hover ul,
								&.sfhover ul {
									left: auto;
								}
							}
						}
					}
				}
			}
		}
	}
}
