.wpcf7-form label {
	display: block;
}

.wpcf7-form-control-wrap {
	margin-top: 0.5rem;
	display: block;
}

.wpcf7-textarea {
	height: 120px !important;
}

.wpcf7-form-control {
	max-width: 100%;
	display: block;
}

span.wpcf7-list-item {
	margin: 0;
	display: block;
}

.wpcf7-list-item-label {
	margin-left: 0.5rem;
}

.inline-field .wpcf7-form-control {
	width: auto !important;
}

.inline-field .wpcf7-form-control-wrap {
	margin-top: 0 !important;
	margin-left: 10px;
	display: inline-block;
}

.wpcf7-radio .wpcf7-list-item {
	display: inline-block;
	margin-right: 20px;
}

.wpcf7-radio .wpcf7-list-item input,
.wpcf7-radio .wpcf7-list-item-label,
.wpcf7-submit {
	display: inline-block !important;
}

.wpcf7-not-valid-tip {
	display: none;
	visibility: hidden;
}

.wpcf7-not-valid {
	border-color: $red !important;
}

.wpcf7-spinner {
	display: table;
	clear: both;
	float: none;
	margin: 0 auto;
}

.wpcf7 form {

	.wpcf7-response-output {
		// scss-docs-start alert-css-vars
		--#{$prefix}alert-bg: transparent;
		--#{$prefix}alert-padding-x: #{$alert-padding-x};
		--#{$prefix}alert-padding-y: #{$alert-padding-y};
		--#{$prefix}alert-margin-bottom: #{$alert-margin-bottom};
		--#{$prefix}alert-color: inherit;
		--#{$prefix}alert-border-color: transparent;
		--#{$prefix}alert-border: #{$alert-border-width} solid var(--#{$prefix}alert-border-color);
		--#{$prefix}alert-border-radius: #{$alert-border-radius};
		--#{$prefix}alert-link-color: inherit;
		// scss-docs-end alert-css-vars

		position: relative;
		padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x);
		margin: 0;
		margin-bottom: var(--#{$prefix}alert-margin-bottom);
		color: var(--#{$prefix}alert-color);
		background-color: var(--#{$prefix}alert-bg);
		border: var(--#{$prefix}alert-border);

		@include border-radius(var(--#{$prefix}alert-border-radius));
	}

	&.sent .wpcf7-response-output {
		--#{$prefix}alert-color: var(--#{$prefix}success-text-emphasis);
		--#{$prefix}alert-bg: var(--#{$prefix}success-bg-subtle);
		--#{$prefix}alert-border-color: var(--#{$prefix}success-border-subtle);
		--#{$prefix}alert-link-color: var(--#{$prefix}success-text-emphasis);
	}

	&.failed .wpcf7-response-output,
	&.aborted .wpcf7-response-output {
		--#{$prefix}alert-color: var(--#{$prefix}danger-text-emphasis);
		--#{$prefix}alert-bg: var(--#{$prefix}danger-bg-subtle);
		--#{$prefix}alert-border-color: var(--#{$prefix}danger-border-subtle);
		--#{$prefix}alert-link-color: var(--#{$prefix}danger-text-emphasis);
	}

	&.spam .wpcf7-response-output,
	&.invalid .wpcf7-response-output,
	&.unaccepted .wpcf7-response-output {
		--#{$prefix}alert-color: var(--#{$prefix}warning-text-emphasis);
		--#{$prefix}alert-bg: var(--#{$prefix}warning-bg-subtle);
		--#{$prefix}alert-border-color: var(--#{$prefix}warning-border-subtle);
		--#{$prefix}alert-link-color: var(--#{$prefix}warning-text-emphasis);
	}
}

form {

	textarea,
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	.wp-block-search__input {
		display: block;
		width: 100%;
		padding: $input-padding-y $input-padding-x;
		font-family: $input-font-family;

		@include font-size($input-font-size);
		font-weight: $input-font-weight;
		line-height: $input-line-height;
		color: $input-color;
		appearance: none; // Fix appearance for date inputs in Safari
		background-color: $input-bg;
		background-clip: padding-box;
		border: $input-border-width solid $input-border-color;

		@include border-radius($input-border-radius, 0);
		@include box-shadow($input-box-shadow);
		@include transition($input-transition);

		&[type="file"] {
			overflow: hidden; // prevent pseudo element button overlap

			&:not(:disabled):not([readonly]) {
				cursor: pointer;
			}
		}

		// Customize the `:focus` state to imitate native WebKit styles.
		&:focus {
			color: $input-focus-color;
			background-color: $input-focus-bg;
			border-color: $input-focus-border-color;
			outline: 0;

			@if $enable-shadows {

				@include box-shadow($input-box-shadow, $input-focus-box-shadow);
			} @else {
				// Avoid using mixin so we can pass custom focus shadow properly
				box-shadow: $input-focus-box-shadow;
			}
		}

		&::-webkit-date-and-time-value {
			min-width: 85px; // Seems to be a good minimum safe width
			height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
			margin: 0;
		}

		// Prevent excessive date input height in Webkit
		// https://github.com/twbs/bootstrap/issues/34433
		&::-webkit-datetime-edit {
			display: block;
			padding: 0;
		}

		// Placeholder
		&::placeholder {
			color: $input-placeholder-color;
			opacity: 1;
		}

		// Disabled inputs
		&:disabled {
			color: $input-disabled-color;
			background-color: $input-disabled-bg;
			border-color: $input-disabled-border-color;
			opacity: 1;
		}

		// File input buttons theming
		&::file-selector-button {
			padding: $input-padding-y $input-padding-x;
			margin: (-$input-padding-y) (-$input-padding-x);
			margin-inline-end: $input-padding-x;
			color: $form-file-button-color;

			@include gradient-bg($form-file-button-bg);
			pointer-events: none;
			border-color: inherit;
			border-style: solid;
			border-width: 0;
			border-inline-end-width: $input-border-width;
			border-radius: 0; // stylelint-disable-line property-disallowed-list

			@include transition($btn-transition);
		}

		&:hover:not(:disabled):not([readonly])::file-selector-button {
			background-color: $form-file-button-hover-bg;
		}
	}

	select {
		--#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator)};

		display: block;
		width: 100%;
		padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
		font-family: $form-select-font-family;

		@include font-size($form-select-font-size);
		font-weight: $form-select-font-weight;
		line-height: $form-select-line-height;
		color: $form-select-color;
		appearance: none;
		background-color: $form-select-bg;
		background-image: var(--#{$prefix}form-select-bg-img), var(--#{$prefix}form-select-bg-icon, none);
		background-repeat: no-repeat;
		background-position: $form-select-bg-position;
		background-size: $form-select-bg-size;
		border: $form-select-border-width solid $form-select-border-color;

		@include border-radius($form-select-border-radius, 0);
		@include box-shadow($form-select-box-shadow);
		@include transition($form-select-transition);

		&:focus {
			border-color: $form-select-focus-border-color;
			outline: 0;

			@if $enable-shadows {

				@include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
			} @else {
				// Avoid using mixin so we can pass custom focus shadow properly
				box-shadow: $form-select-focus-box-shadow;
			}
		}

		&[multiple],
		&[size]:not([size="1"]) {
			padding-right: $form-select-padding-x;
			background-image: none;
		}

		&:disabled {
			color: $form-select-disabled-color;
			background-color: $form-select-disabled-bg;
			border-color: $form-select-disabled-border-color;
		}

		// Remove outline from select box in FF
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 $form-select-color;
		}
	}

	.wp-block-search__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.wp-block-search__button {
		margin-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
