
.icon-search {
	position: relative;
	display: inline-block;

	.search-bg {
		width: 1px;
		height: 1px;
		background-color: $white;
		border-radius: 100%;
		position: absolute;
		top: -300px;
		right: 12px;
		-webkit-transition: -webkit-transform 600ms;
		transition: -webkit-transform 600ms;
		transition: transform 600ms;
		transition: transform 600ms, -webkit-transform 600ms;
		opacity: 0.95;
		z-index: 9999;
	}

	.search-info {
		width: 100%;
		display: block;
		position: fixed;
		visibility: hidden;
		margin-top: 10%;
		-webkit-transition: visibility 0s 0s;
		transition: visibility 0s 0s;
		z-index: 9999;
		left: 0;
		right: 0;
	}

	&.search-open {

		.search-bg {
			width: 200px;
			height: 200px;
			-webkit-transform: scale(40);
			transform: scale(40);
			-webkit-transform-origin: center;
			transform-origin: center;
			box-shadow: none;
			z-index: 9999;
		}

		.search-info {
			visibility: visible;
			-webkit-transition: visibility 0s 150ms;
			transition: visibility 0s 150ms;
			left: 0;
		}
	}

	.search-field {
		border: none;
		border-bottom: 2px solid $border-color;
		background-color: transparent;
		width: 100%;
		font-size: 300%;
		color: $body-color;
		font-weight: 400;
		outline: none !important;

		&:focus {
			outline: none !important;
		}
	}

	.search-close {
		font-size: 26px;
		color: $body-color !important;
		display: block;
		float: right;

		svg {
			fill: $body-color !important;
		}

		&:hover,
		&:focus,
		&:active {
			color: $primary !important;

			svg {
				fill: $primary !important;
			}
		}
	}
}

.search-form {

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $gray-400;
	}

	::-moz-placeholder { /* Firefox 19+ */
		color: $gray-400;
	}

	:-ms-input-placeholder { /* IE 10+ */
		color: $gray-400;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $gray-400;
	}
}
