#wrapper {
	min-height: calc(100vh - 61px);
	background-color: var(--#{$prefix}white);
	display: inline-block;
	width: 100%;
	position: relative;

	@include media-breakpoint-up(md) {
		min-height: calc(100vh - 69px);
	}
}

.admin-bar {

	#wrapper {
		min-height: calc(100vh - 107px);

		@include media-breakpoint-up(md) {
			min-height: calc(100vh - 100px);
		}
	}
}

#topbar {
	background-color: var(--#{$prefix}primary);
	color: var(--#{$prefix}white);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: relative;
	text-align: center;

	svg {
		fill: var(--#{$prefix}white);
	}

	a {
		color: var(--#{$prefix}white);

		svg {
			fill: var(--#{$prefix}white);
		}

		&:hover {
			color: var(--#{$prefix}secondary);

			svg {
				fill: var(--#{$prefix}secondary);
			}
		}
	}

	ul.contact-icons {
		margin-bottom: 0;
		list-style-type: none;
		padding-left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 0.75rem;

			a {
				display: flex;
				align-items: center;

				svg {
					width: 16px;
					height: 16px;
				}

				span {
					display: none;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.top-container {
		justify-content: center;
		display: flex;
		gap: 0.75rem;
		font-size: $font-size-sm;
	}

	@include media-breakpoint-up(md) {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		.container {
			justify-content: end;
		}

		ul.contact-icons {
			justify-content: end;

			li {

				&.phone,
				&.email {
					border-right: 1px solid var(--#{$prefix}primary-700);
					padding-right: 1rem;
				}

				&.address,
				&.email,
				&.phone {
					margin-right: 1.25rem;
				}
			}
		}

		.widget {
			display: inline-flex;
			margin-left: 1rem;
			padding-left: 0.75rem;
			border-left: 1px solid var(--#{$prefix}primary-700);

			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: none;
			}
		}
	}
}

#headbar {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 3px solid var(--#{$prefix}primary);

	@include media-breakpoint-down(lg) {
		padding-top: 0.65rem;
		padding-bottom: 0.65rem;
	}

	#logo-holder {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
		}

		.custom-logo-link {
			display: inline-block;

			img {
				transition: all 0.2s ease;
				max-width: 200px;

				@include media-breakpoint-down(lg) {
					max-width: 170px;
				}

				&.custom_logo {

					@include media-breakpoint-down(md) {
						max-width: 150px;
					}
				}
			}
		}

		.call-button {
			margin-right: 1.25rem;
			opacity: 1;
			transition: opacity 0.3s ease-in-out;

			@include media-breakpoint-up(lg) {
				display: none;
			}

			&.hide {
				opacity: 0;
			}
		}
	}

	#nav .navigation {
		align-items: center;
		justify-content: center;

		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}

		.call-button {
			margin-left: 1.5rem;

			@include media-breakpoint-down(lg) {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

.admin-bar #headbar #nav.fixed-nav {

	.call-button {
		--bs-btn-padding-y: 0.25rem;
		background-color: var(--#{$prefix}secondary);
		border-color: var(--#{$prefix}secondary);

		&:hover {
			background-color: var(--#{$prefix}secondary-700);
			border-color: var(--#{$prefix}secondary-700);
		}
	}
}

#footer {
	background-color: var(--#{$prefix}primary);
	color: var(--#{$prefix}white);

	svg {
		fill: var(--#{$prefix}white);
	}

	a {
		color: var(--#{$prefix}white);

		svg {
			fill: var(--#{$prefix}white);
		}

		&:hover {
			color: var(--#{$prefix}secondary);

			svg {
				fill: var(--#{$prefix}secondary);
			}
		}
	}

	#footer-top {
		position: relative;
		padding-top: 2rem;
		border-bottom: 1px solid var(--#{$prefix}primary-700);

		ul.menu {
			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem;
			list-style-type: none;
			padding-left: 0;
			justify-content: center;
			margin-bottom: 1.5rem;

			li {
				position: relative;
				margin-bottom: 0;

				ul {
					display: none !important;
				}
			}
		}

		ul.contact-icons {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			justify-content: center;

			li {
				position: relative;

				a {
					display: flex;
					align-items: center;

					span {
						display: none;
					}
				}
			}
		}
	}

	#copyright {
		position: relative;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		font-size: $font-size-sm;
		text-align: center;

		@include media-breakpoint-down(md) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		ul.copyright-items {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				border-right: 1px solid var(--#{$prefix}gray-300);
				padding-right: 0.5rem;
				margin-right: 0.5rem;
				margin-bottom: 0;

				&:first-child {

					@include media-breakpoint-down(md) {
						flex-basis: 100%;
						text-align: center;
						margin-bottom: 0.5rem;
						border-right: none;
						padding-right: 0;
						margin-right: 0;
					}
				}

				&:last-child {
					border-right: none;
					padding-right: 0;
					margin-right: 0;
				}
			}
		}
	}
}

#sidebar {
	position: relative;

	@include media-breakpoint-up(lg) {
		max-width: 300px;
	}

	p:empty {
		display: none;
		visibility: hidden;
	}

	ul,
	ol {
		list-style-type: none;
		padding-left: 0.25rem;

		li {
			display: block;
			margin-bottom: 0.25rem;
		}
	}

	.widget {
		margin-bottom: 1.5rem;
	}
}

ul.menu,
ul.wp-block-page-list {
	list-style-type: none;
	padding-left: 0;
}

.page-header {
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	h1,
	h2 {
		color: var(--#{$prefix}primary);
		margin-bottom: 0.5rem;
		font-weight: 400;
	}
}

.search-results,
.single-post {

	.page-header {
		text-align: left;
	}
}

.single-post {

	#sidebar {
		padding-top: 2em;
	}
}

.post-content-item + .post-content-item {
	border-top: 1px solid var(--#{$prefix}border-color);
	padding-top: 1.5rem;
}

.content-items {
	margin-bottom: 1rem;

	.col {
		margin-bottom: 2rem;
	}
}

ul.post-meta {
	list-style-type: none;
	position: relative;
	margin-bottom: 0.5rem;

	li {
		position: relative;
		border-right: 1px solid var(--#{$prefix}border-color);
		padding-right: 0.75rem;
		font-size: $font-size-sm;
		color: var(--#{$prefix}gray-600);

		&:last-child {
			border-right: none;
			padding-right: 0;
		}

		a {
			color: var(--#{$prefix}gray-600);
		}
	}
}

.post-date {
	color: var(--#{$prefix}gray-600);
}

.tagcloud a {
	color: var(--#{$prefix}body-color);
	background-color: var(--#{$prefix}gray-200);
	padding: 0.25rem 1rem;
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.75rem;
	font-size: $font-size-sm !important;
	border-radius: $border-radius;

	&:hover {
		color: var(--#{$prefix}primary);
	}
}

a.read-more {
	color: var(--#{$prefix}primary);

	&:hover {
		color: var(--#{$prefix}primary-700);
	}
}
