// Theme global variables.
$enable-dark-mode: false;

// Font
$enable-responsive-font-sizes: true;
$font-family-primary: "Lato", sans-serif;
$font-family-secondary: $font-family-primary;
$font-family-base: $font-family-primary;
$font-size-base: 1rem;

// Paragraph
$paragraph-margin-bottom:   1.25rem;

// Heading
$headings-font-family: $font-family-secondary;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;

$display-font-weight: 400;

// Grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

// Form controls
$btn-padding-x: 1.5rem;
$input-placeholder-color: #adb5bd;

// Alert
$alert-padding-y: 0.75rem;

// Primary Color
$primary-100: #dfdaee;
$primary-200: #c5bce1;
$primary-300: #ac9ed4;
$primary-400: #9481c6;
$primary-500: #7c64b6;
$primary-600: #644a9d;
$primary-700: #4a3677;
$primary-800: #342556;
$primary-900: #1d1434;
$primary: $primary-600;

$primary-colors: (
	"primary-100": $primary-100,
	"primary-200": $primary-200,
	"primary-300": $primary-300,
	"primary-400": $primary-400,
	"primary-500": $primary-500,
	"primary-600": $primary-600,
	"primary-700": $primary-700,
	"primary-800": $primary-800,
	"primary-900": $primary-900
) !default;

// Secondary Color
$secondary-100: #d6f0fb;
$secondary-200: #aee0f6;
$secondary-300: #85d1f2;
$secondary-400: #5dc2ee;
$secondary-500: #34b3ea;
$secondary-600: #179fda;
$secondary-700: #1487ba;
$secondary-800: #107099;
$secondary-900: #0d5879;
$secondary: $secondary-600;

$secondary-colors: (
	"secondary-100": $secondary-100,
	"secondary-200": $secondary-200,
	"secondary-300": $secondary-300,
	"secondary-400": $secondary-400,
	"secondary-500": $secondary-500,
	"secondary-600": $secondary-600,
	"secondary-700": $secondary-700,
	"secondary-800": $secondary-800,
	"secondary-900": $secondary-900
) !default;

// import bootstrap variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Map merge colors
$theme-colors: map-merge($theme-colors, $primary-colors);
$theme-colors: map-merge($theme-colors, $secondary-colors);
