.woocommerce {

	.content-area {
		width: 100%;
		padding: 30px 15px;
		margin-right: auto;
		margin-left: auto;
	}

	ul.products li.product {
		text-align: center;

		.woocommerce-loop-category__title,
		.woocommerce-loop-product__title,
		h3 {
			font-size: $h5-font-size;
			color: $body-color;
		}

		.price {
			color: $white;
		}
	}

	#respond input#submit,
	#respond input#submit.alt,
	#respond input#submit.alt.disabled,
	a.button,
	a.button.disabled,
	a.button.alt,
	a.button.alt.disabled,
	button.button,
	button.button.disabled,
	button.button.alt,
	button.button.alt.disabled,
	input.button,
	input.button.disabled,
	input.button.alt,
	input.button.alt.disabled {
		// scss-docs-start btn-css-vars
		--#{$prefix}btn-padding-x: #{$btn-padding-x};
		--#{$prefix}btn-padding-y: #{$btn-padding-y};
		--#{$prefix}btn-font-family: #{$btn-font-family};

		@include rfs($btn-font-size, --#{$prefix}btn-font-size);
		--#{$prefix}btn-font-weight: #{$btn-font-weight};
		--#{$prefix}btn-line-height: #{$btn-line-height};
		--#{$prefix}btn-color: #{$btn-color};
		--#{$prefix}btn-bg: transparent;
		--#{$prefix}btn-border-width: #{$btn-border-width};
		--#{$prefix}btn-border-color: transparent;
		--#{$prefix}btn-border-radius: #{$btn-border-radius};
		--#{$prefix}btn-hover-border-color: transparent;
		--#{$prefix}btn-box-shadow: #{$btn-box-shadow};
		--#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};
		--#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} rgba(var(--#{$prefix}btn-focus-shadow-rgb), 0.5);
		// scss-docs-end btn-css-vars

		display: inline-block;
		padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
		font-family: var(--#{$prefix}btn-font-family);

		@include font-size(var(--#{$prefix}btn-font-size));
		font-weight: var(--#{$prefix}btn-font-weight);
		line-height: var(--#{$prefix}btn-line-height);
		color: var(--#{$prefix}btn-color);
		text-align: center;
		text-decoration: if($link-decoration == none, null, none);
		white-space: $btn-white-space;
		vertical-align: middle;
		cursor: if($enable-button-pointers, pointer, null);
		user-select: none;
		border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);

		@include border-radius(var(--#{$prefix}btn-border-radius));
		@include gradient-bg(var(--#{$prefix}btn-bg));
		@include box-shadow(var(--#{$prefix}btn-box-shadow));
		@include transition($btn-transition);

		&:hover {
			color: var(--#{$prefix}btn-hover-color);
			text-decoration: if($link-hover-decoration == underline, none, null);
			background-color: var(--#{$prefix}btn-hover-bg);
			border-color: var(--#{$prefix}btn-hover-border-color);
		}

		&:focus-visible {
			color: var(--#{$prefix}btn-hover-color);

			@include gradient-bg(var(--#{$prefix}btn-hover-bg));
			border-color: var(--#{$prefix}btn-hover-border-color);
			outline: 0;
			// Avoid using mixin so we can pass custom focus shadow properly
			@if $enable-shadows {
				box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
			} @else {
				box-shadow: var(--#{$prefix}btn-focus-box-shadow);
			}
		}

		.btn-check:checked + &,
		:not(.btn-check) + &:active,
		&:first-child:active,
		&.active,
		&.show {
			color: var(--#{$prefix}btn-active-color);
			background-color: var(--#{$prefix}btn-active-bg);
			// Remove CSS gradients if they're enabled
			background-image: if($enable-gradients, none, null);
			border-color: var(--#{$prefix}btn-active-border-color);

			@include box-shadow(var(--#{$prefix}btn-active-shadow));

			&:focus-visible {
				// Avoid using mixin so we can pass custom focus shadow properly
				@if $enable-shadows {
					box-shadow: var(--#{$prefix}btn-active-shadow), var(--#{$prefix}btn-focus-box-shadow);
				} @else {
					box-shadow: var(--#{$prefix}btn-focus-box-shadow);
				}
			}
		}

		&:disabled,
		&.disabled,
		fieldset:disabled & {
			color: var(--#{$prefix}btn-disabled-color);
			pointer-events: none;
			background-color: var(--#{$prefix}btn-disabled-bg);
			background-image: if($enable-gradients, none, null);
			border-color: var(--#{$prefix}btn-disabled-border-color);
			opacity: var(--#{$prefix}btn-disabled-opacity);

			@include box-shadow(none);
		}

		@include button-variant($primary, $primary);
	}

	.select2-container--default .select2-selection--single,
	.input-text {
		display: block;
		width: 100%;
		padding: $input-padding-y $input-padding-x;
		font-family: $input-font-family;

		@include font-size($input-font-size);
		font-weight: $input-font-weight;
		line-height: $input-line-height;
		color: $input-color;
		appearance: none; // Fix appearance for date inputs in Safari
		background-color: $input-bg;
		background-clip: padding-box;
		border: $input-border-width solid $input-border-color;

		@include border-radius($input-border-radius, 0);
		@include box-shadow($input-box-shadow);
		@include transition($input-transition);

		&[type="file"] {
			overflow: hidden; // prevent pseudo element button overlap

			&:not(:disabled):not([readonly]) {
				cursor: pointer;
			}
		}

		// Customize the `:focus` state to imitate native WebKit styles.
		&:focus {
			color: $input-focus-color;
			background-color: $input-focus-bg;
			border-color: $input-focus-border-color;
			outline: 0;

			@if $enable-shadows {

				@include box-shadow($input-box-shadow, $input-focus-box-shadow);
			} @else {
				// Avoid using mixin so we can pass custom focus shadow properly
				box-shadow: $input-focus-box-shadow;
			}
		}

		&::-webkit-date-and-time-value {
			min-width: 85px; // Seems to be a good minimum safe width
			height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
			margin: 0;
		}

		// Prevent excessive date input height in Webkit
		// https://github.com/twbs/bootstrap/issues/34433
		&::-webkit-datetime-edit {
			display: block;
			padding: 0;
		}

		// Placeholder
		&::placeholder {
			color: $input-placeholder-color;
			opacity: 1;
		}

		// Disabled inputs
		&:disabled {
			color: $input-disabled-color;
			background-color: $input-disabled-bg;
			border-color: $input-disabled-border-color;
			opacity: 1;
		}

		// File input buttons theming
		&::file-selector-button {
			padding: $input-padding-y $input-padding-x;
			margin: (-$input-padding-y) (-$input-padding-x);
			margin-inline-end: $input-padding-x;
			color: $form-file-button-color;

			@include gradient-bg($form-file-button-bg);
			pointer-events: none;
			border-color: inherit;
			border-style: solid;
			border-width: 0;
			border-inline-end-width: $input-border-width;
			border-radius: 0; // stylelint-disable-line property-disallowed-list

			@include transition($btn-transition);
		}

		&:hover:not(:disabled):not([readonly])::file-selector-button {
			background-color: $form-file-button-hover-bg;
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: inherit;
		padding: 0;
	}

	nav.woocommerce-pagination ul {
		border: none;

		li {
			border: none;

			a,
			span {
				background: darken($light, 2.5%);
				color: $body-color;
				margin-left: 0.25rem;
				margin-right: 0.25rem;

				&.current,
				&:hover {
					background: $primary;
					color: $white;
				}
			}
		}
	}

	a.added_to_cart {
		margin-left: 0.5rem;
	}

	table.shop_table {
		border-collapse: collapse;

		tbody th,
		tfoot th {
			background-color: $light;
			border-top-color: $border-color;
		}

		tbody td,
		tfoot td {
			border-top-color: $border-color;
		}

		tfoot th,
		tfoot td {
			text-align: right;
		}

		.product-total {
			text-align: right;
		}

		a {
			color: $secondary;
		}
	}

	#content table.cart td.actions .input-text,
	table.cart td.actions .input-text {
		width: 115px;
	}

	form .form-row {
		padding: 0;
		margin: 0 0 1rem;
		display: block !important;
		flex-wrap: nowrap !important;

		label {
			margin-bottom: 0;
		}
	}

	.woocommerce-privacy-policy-link,
	.showcoupon {
		color: $secondary;
	}

	ul.order_details {
		padding-left: 0;
	}

	section.related {
		clear: both;
		margin-top: 2rem;

		h2 {
			margin-bottom: 1.5rem;
		}
	}

	div.product p.price,
	div.product span.price {
		color: $body-color;
	}

	div.product .product_title {
		font-weight: 400;
	}

	div.product div.images .flex-control-thumbs {
		margin: 1rem 0 !important;

		li {
			padding: 0.25rem;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.quantity .qty {
		padding: $btn-padding-y;
		width: 4rem;
	}
}

.wc-block-components-totals-wrapper,
.has-dark-controls .wc-block-components-totals-wrapper,
.wc-block-components-discounts-meta .wc-block-components-totals-wrapper:first-child,
.is-large.wc-block-cart .wc-block-cart-items td,
.wp-block-woocommerce-cart-order-summary-totals-block {
	border-color: $border-color !important;
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
	display: flex;
	align-items: center;

	input[type="checkbox"] {
		margin-right: 0.5rem;
	}
}

.woocommerce-page {

	#content table.cart td.actions .input-text,
	table.cart td.actions .input-text {
		width: 115px;
	}
}

.woocommerce .col2-set,
.woocommerce-page .col2-set {
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	flex-wrap: wrap;

	.col-1,
	.col-2 {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.woocommerce-account {

	.woocommerce-MyAccount-navigation {

		ul {
			padding-left: 0;
			list-style-type: none;

			li {
				display: block;
				padding-bottom: 2px;

				a {
					display: block;
					padding: 0.5rem 0.5rem;
					background-color: $light;
					color: $body-color;

					&:hover {
						background-color: $primary;
						color: $white;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		margin-bottom: 2rem;
	}

}


#shopsidebar {

	.widget_product_search {

		.search-field {
			display: block;
			width: 100%;
			height: calc(1.5em + 0.5rem + 2px);
			padding: 0.25rem 1rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			background-image: url(assets/img/icon-search.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 4px) 5px;
			background-size: 20px;
		}

		button {
			display: none;
		}
	}

	.widget_product_categories {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				position: relative;
				border-top: 1px solid $border-color;
				padding-top: 0.35rem;
				display: block;

				a {
					display: block;
					color: $white;

					&:hover {
						color: $primary;
					}
				}

				&.cat-parent {

					&::after {
						content: "";
						position: absolute;
						top: 10px;
						right: 0;
						display: inline-block;
						border-top: 0.3em solid;
						border-right: 0.3em solid transparent;
						border-bottom: 0;
						border-left: 0.3em solid transparent;
						transition: all linear 0.25s;
					}

					&.open::after {
						transform: rotate(90deg);
					}

					ul {
						display: none;
						margin-top: 0.35rem;
						padding-left: 0.75rem;

						li:last-child {
							border-bottom: none;
							padding-bottom: 0;
						}
					}
				}

				&.current-cat > a {
					color: $primary;
				}
			}
		}
	}
}

#payment ul.payment_methods li.payment_method_authorize_net_cim_credit_card > label {
	display: inline-flex !important;
	align-items: center;
}

@media (max-width: 576px) {

	.woocommerce ul.products[class*="columns-"] li.product,
	.woocommerce-page ul.products[class*="columns-"] li.product {
		width: 100%;
	}
}


@media (max-width: 767px) {

	.woocommerce .woocommerce-ordering,
	.woocommerce-page .woocommerce-ordering {
		float: none;
	}
}

@media (min-width: 768px) {

	.woocommerce .col2-set,
	.woocommerce-page .col2-set {

		.col-1,
		.col-2 {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

@media (min-width: 992px) {

	.woocommerce-account {

		.woocommerce-MyAccount-navigation {
			width: 20%;

			ul li {
				padding-right: 30px;
			}
		}

		.woocommerce-MyAccount-content {
			width: 80%;
		}
	}
}
