// Global variables
@import "variables";

// Bootstrap parts
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";

.wp-block-widget-area__inner-blocks[data-widget-area-id="topbar"],
.wp-block-widget-area__inner-blocks[data-widget-area-id="footer"] {
	background-color: var(--#{$prefix}primary);
	color: var(--#{$prefix}white);

	a {
		color: var(--#{$prefix}white);

		&:hover {
			color: var(--#{$prefix}secondary);
		}
	}

	.wp-block-separator,
	hr {
		position: relative;
		border: none !important;
		height: 1px;
		background-color: var(--#{$prefix}primary-700);
	}
}

.is-root-container .wp-block[data-type="core/widget-area"],
.blocks-widgets-container .editor-styles-wrapper {
	max-width: 1142px !important;
}

.fltr-button {
	float: right;
	margin-right: 8px !important;
}

.fltr-field {
	margin-right: 8px !important;
}

.form-text {
	display: block;
	clear: both;
	color: $gray-600;
	margin-top: 0.25rem;
	font-weight: 400 !important;
}

.form-check {
	display: flex;
	align-items: center;

	.form-check-label {
		margin-left: 0.25rem;
		margin-bottom: 3px;
	}
}

.form-check-inline {
	display: inline-flex;
	margin-right: 1rem;
}

input.medium-text {
	width: 150px;
	padding: 0 6px;
}

.form-group {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $gray-300;

	&:last-child,
	&.no-border {
		padding-bottom: 0;
		border-bottom: none;
	}

	.form-label {
		display: block;
		margin-bottom: 0.25rem;
	}
}

.form-check-group {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem 1.5rem;

	&.single-line {
		flex-direction: column;
	}

	.form-check-label {
		margin: 0 !important;
	}

	.form-label {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 0;
	}

	.form-text,
	.form-info-text {
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 0;
	}
}

.disabled-fields {
	cursor: not-allowed;
	opacity: 0.5;
}

label.required {
	position: relative;

	&::after {
		content: "*";
		position: absolute;
		top: 0;
		right: -10px;
		color: $danger;
	}
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 99%;

	> input {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		min-width: 0;
	}
}

