// Global variables
@import "variables";

// Bootstrap required parts
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

.wp-block-widget-area__inner-blocks[data-widget-area-id="footer"] {
	background-color: var(--#{$prefix}gray-200);
	color: var(--#{$prefix}body-color);

	a {
		color: var(--#{$prefix}primary);

		&:hover {
			color: var(--#{$prefix}primary);
		}
	}

	.wp-block-separator,
	hr {
		position: relative;
		border: none !important;
		height: 1px;
		background-color: var(--#{$prefix}gray-300);
	}
}

.is-root-container .wp-block[data-type="core/widget-area"],
.blocks-widgets-container .editor-styles-wrapper {
	max-width: 1322px !important;
}

.wpforms-list-inline .wpforms-image-choices-modern label {
	padding: 15px !important;
	max-width: 192px;
}

.wpforms-panel-fields {

	.wpforms-field-checkbox,
	.wpforms-field-radio {

		ul.wpforms-image-choices-modern .wpforms-image-choices-image {
			display: flex !important;
			border: 1px solid $border-color;
			border-radius: 10px !important;

			img {
				border-radius: 10px !important;
			}
		}
	}
}
